@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  height: 70vh;
  margin-bottom: 30px;
}

.line{
  position: relative;
  bottom: 3px;
  font-weight: 600;
}

.store-title {
  font-size: 19px;
  color: #D4A549;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.store-subtitle {
  font-size: 44px;
  font-weight: 400;
  color: #000000;
  font-family: "Cormorant SC", serif;
  text-transform: uppercase;
}

.head-photo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: -1 ;
}

.head-img{
  width: 360px;
}

.main-img{
  width: 1120px;
  height: 198px;
}

.others{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}